html,body,#app,#app>div,#app>div>main,#app>div>main>main{
    height: 100%;

}
.profile-card,.profile-nav{
    height: 100% ;
}
body{
    background-color: #151414;
}
.books {
    height: 100%;
    overflow: hidden;
  }